
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family: 'Segoe UI', sans-serif;
    }
   
    body {
      background: url(https://thumbs.dreamstime.com/b/%D1%82%D0%BE%D1%80%D1%82-%D0%BD%D0%B0-%D1%85%D1%8D%D0%BB%D0%BB%D0%BE%D1%83%D0%B8%D0%BD-%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9-%D0%BF%D0%BE%D0%BF%D0%B0%D1%85%D0%B8%D0%B2%D0%B0%D0%B5%D1%82-%D0%BF%D0%BE%D0%BF%D0%BE%D0%BD%D0%B5-%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%BC-%D0%BF%D0%BB%D0%B0%D0%BD%D0%B5-%D1%84%D0%BE%D0%BD%D0%B0-198261011.jpg)
      
      
    }

h1 {
   color: red;
   font-size: 3rem;
      animation: fadeIn 4s ease-out;
      
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
p{
  color: rgb(0, 255, 38);
} h2 {
  color: rgb(255, 247, 0);
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
      
    }
