
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family: 'Segoe UI', sans-serif;
    }
   
    body {
      background: url(https://presa.com.ua/images/2021/05/04/gateau-monstre-yeux-halloween-pi_large.jpg)
      
      
    }

h1 {
   color: red;
   font-size: 3rem;
      animation: fadeIn 4s ease-out;
      
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
p{
  color: rgb(0, 255, 38);
} h2 {
  color: rgb(255, 247, 0);
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
      
    }
